<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alquiler</title>
</head>
<body>
	<h1>Alquiler de Livings, Vajilla y Objetos</h1>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio reiciendis eveniet, explicabo quis exercitationem, placeat earum? Nemo, eius, earum. Ipsam veniam temporibus, eveniet exercitationem perferendis, quas! Quos nam ullam quaerat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minima, fuga ullam quibusdam temporibus! Aliquid adipisci a magnam, vitae, sequi, accusamus doloribus quae qui reprehenderit id officia obcaecati voluptatum. Consequuntur!</p>
		<p>loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit at perspiciatis ab ex ipsum est explicabo culpa atque inventore, libero et, laudantium nisi placeat, reiciendis facere, ad odio quod consequuntur.</p>
	</section>
	<!--Aca van fotos, la idea es que se puedan pasar tipo slide-->
	<a href="../index.html">Home</a>
</body>
</html>