<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ambientaciones y Decoraciones</title>
	<link rel="stylesheet" href="../assets/css/archivo.css">
</head>
<body>
	<h1>Ambientaciones y Decoraciones</h1>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minima, fuga ullam quibusdam temporibus! Aliquid adipisci a magnam, vitae, sequi, accusamus doloribus quae qui reprehenderit id officia obcaecati voluptatum. Consequuntur!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse numquam aperiam veritatis aspernatur tempore eos cupiditate sit officiis voluptate, pariatur animi soluta, culpa assumenda expedita possimus? Adipisci molestiae perspiciatis rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla magni, veniam praesentium molestiae reiciendis dolores tenetur similique distinctio numquam nostrum quaerat minima minus voluptatibus. Illum commodi incidunt numquam ut?</p>
	</section>
	<div class="contenedor">	
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
			<div class="fotos"><img src="../img/Ambientacion 5.jpg" alt=""></div>
		</div>	
	<a href="../index.html">Home</a>
</body>
</html>