<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brunch en Box</title>
</head>
<body>
	<h1>Brunch y Desayunos en Box</h1>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minima, fuga ullam quibusdam temporibus! Aliquid adipisci a magnam, vitae, sequi, accusamus doloribus quae qui reprehenderit id officia obcaecati voluptatum. Consequuntur!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sunt quos minima aspernatur architecto cum esse doloribus molestiae, similique tempore, cupiditate blanditiis voluptatem iure accusamus. Soluta ullam omnis iure, vitae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati animi est, vitae odio at magnam, culpa asperiores libero sunt illum mollitia harum fugit corrupti, doloribus. Voluptates aut nostrum sunt dolore.</p>
	</section>
	<!--Aca van fotos, la idea es que se puedan pasar tipo slide-->
	<a href="../index.html">Home</a>
</body>
</html>